.k-footer{
    display: block;
    width: 100%;
    max-width: 100%;
    margin-top: 0;
    box-sizing: border-box;
    background-color: #F3F3F3;
    color: white;
    font-family: "Open Sans", sans-serif;
    font-size: 1.2rem;
    padding: 2rem;
    text-align: center;
    border-top: 0;
}

.k-footer a {
    color: #583473;
    text-decoration: none;
    font-weight: 600;
    font-family: "Open Sans", sans-serif;
    font-size: 17px;
}

.k-footer a:hover {
    font-weight: 700;
}

.k-footer span{
    color: #000000;
    font-weight: 600;
    font-family: "Open Sans", sans-serif;
    font-size: 15px;
}